
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,200;1,500&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

$primary-background: #F5F5F5;
$link-color: #DB0A5B;
$link-hover-color: #AA00AA;
$primary-font-color: #141414;
$primary-font: 'Montserrat', sans-serif;
$medium-breakpoint: 1050px;

body {
  background-color: $primary-background;
  font-family: $primary-font;
  font-weight: 200;
}

nav {
  align-items: center;
  color: $primary-font-color;
  display: flex;
  justify-content: space-around;

  h1 {
    font-weight: 500;
    font-size: 2em;
  }
}

a {
  color: $link-color;
  font-size: 0.75em;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid $link-hover-color;
    color: $link-hover-color;
  }
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
}

h3 {
  border-bottom: 3px solid $link-color;
}

button {
  background-color: $primary-background;
  border: 3px solid $link-color;
  border-radius: 10px;
  color: $link-color;
  display: block;
  font-size: 1em;
  padding: 5%;
  margin: 10% 0%;

  &:hover {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
    color: $primary-background;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  main {
    flex-direction: column;
  }
}
